In [1]:
import os

os.chdir('../src/')

In [2]:
from modules.dataProcessing import getJoinedData

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
jumboData = getJoinedData( 
                cachedFile='../data/intermediate/jumboData.snappy.parquet'
            )   ## Data will be fetched if cached file is not found

In [4]:
jumboData[:5]

,capturedDate,business_vertical,country,region,city_code,strategy_id,channel_name,goal_type,total_spend_cpm,impressions,clicks,conversions
0,2018-09-17,Finance,Indonesia,Aceh Sm,idn-ac-banda aceh,3714868,Display,1.0,149.565425,48.0,0.0,0.0
1,2018-09-17,Finance,Indonesia,Aceh Sm,idn-ac-banda aceh,3715603,Display,1.0,291.516169,124.0,1.0,0.0
2,2018-09-17,Finance,Indonesia,Aceh Sm,idn-ac-banda aceh,3716560,Display,2.0,509.019147,415.0,0.0,0.0
3,2018-09-17,Finance,Indonesia,Aceh Sm,idn-ac-banda aceh,3718685,Mobile,2.0,134.542628,218.0,0.0,0.0
4,2018-09-17,Finance,Indonesia,Aceh Sm,idn-ac-banda aceh,3718702,Mobile,1.0,3.761886,1.0,0.0,0.0

In [6]:
jumboData['yearCaptured']   = jumboData['capturedDate'].apply(lambda dt: dt.year)
jumboData['YYYYMMCaptured'] = jumboData['capturedDate'].apply(lambda dt: '{}{:02d}'.format(dt.year, dt.month))

categoricalCols = ['business_vertical', 'country', 'region', 'city_code', 'strategy_id', 'channel_name', 
                   'goal_type', 'yearCaptured', 'YYYYMMCaptured', 'conversions']
numericalCols   = ['total_spend_cpm', 'impressions', 'clicks']

In [7]:
print('printing top 10 value counts for each categorical col..')
print('')

for c in categoricalCols:
    tmpDF         = jumboData[c].fillna('NA').value_counts().reset_index()
    tmpDF.columns = [c, 'nCounts']
    print('-'*15 + c + ' -> {}'.format(tmpDF.shape) + '-'*15)
    print(tmpDF[:10])
    print('')

printing top 10 value counts for each categorical col..

---------------business_vertical -> (2, 2)---------------
  business_vertical  nCounts
0           Finance    43062
1           Unknown    32143

---------------country -> (8, 2)---------------
            country  nCounts
0         Australia    34634
1         Indonesia    28378
2       New Zealand     6173
3          Malaysia     3203
4         Hong Kong     2375
5       Philippines      428
6  reserved/private       13
7           Somalia        1

---------------region -> (127, 2)---------------
              region  nCounts
0    New South Wales    12682
1           Victoria     8368
2         Queensland     6550
3         Jawa Timur     4398
4        Jawa Tengah     4304
5         Jawa Barat     3639
6       Jakarta Raya     3417
7  Western Australia     2805
8    South Australia     2676
9          hong kong     2375

---------------city_code -> (3894, 2)---------------
            city_code  nCounts
0     idn-jt-semarang      205
1     idn-ji-surabaya      204
2      idn-jk-jakarta      204
3      idn-jb-bandung      202
4        idn-jb-bogor      201
5       idn-jb-bekasi      199
6        idn-su-medan      198
7        idn-jt-kudus      194
8        idn-jb-depok      191
9  idn-jb-tasikmalaya      190

---------------strategy_id -> (75, 2)---------------
   strategy_id  nCounts
0      3771828    15212
1      3771831     9761
2      3812706     9146
3      3718728     2209
4      3718750     2207
5      3718757     2023
6      3718749     2011
7      3745856     1840
8      3784636     1701
9      3727967     1657

---------------channel_name -> (3, 2)---------------
  channel_name  nCounts
0      Unknown    32143
1      Display    23343
2       Mobile    19719

---------------goal_type -> (3, 2)---------------
  goal_type  nCounts
0        NA    32143
1         1    22524
2         2    20538

---------------yearCaptured -> (1, 2)---------------
   yearCaptured  nCounts
0          2018    75205

---------------YYYYMMCaptured -> (2, 2)---------------
  YYYYMMCaptured  nCounts
0         201809    59826
1         201810    15379

---------------conversions -> (2, 2)---------------
  conversions  nCounts
0           0    73654
1          NA     1551

In [8]:
print('describe stats value for each numerical col..')
print('')

for c in numericalCols:
    tmpDF         = jumboData[c].describe()
    print('-'*15 + c + ' -> null: {}'.format( len(jumboData[jumboData[c].isnull()]) ) + '-'*15)
    print(tmpDF)
    print('')

describe stats value for each numerical col..

---------------total_spend_cpm -> null: 0---------------
count     75205.000000
mean        424.826770
std        5275.184032
min           0.242250
25%           2.815800
50%           8.621250
75%          32.941426
max      374622.032272
Name: total_spend_cpm, dtype: float64

---------------impressions -> null: 1502---------------
count     73703.000000
mean        291.512313
std        4179.601279
min           0.000000
25%           1.000000
50%           4.000000
75%          18.000000
max      374343.000000
Name: impressions, dtype: float64

---------------clicks -> null: 1522---------------
count    73683.000000
mean         0.371049
std          7.118569
min          0.000000
25%          0.000000
50%          0.000000
75%          0.000000
max        661.000000
Name: clicks, dtype: float64

Below is to check if region matches to the correct region under each country

In [9]:
listOfCountries = jumboData['country'].fillna('NA').unique()

print('printing top 10 regions for each country..')
print('')

for country in listOfCountries:
    tmpDF         = jumboData[ jumboData['country'] == country ]
    tmpDF         = tmpDF['region'].fillna('NA').value_counts().reset_index()
    tmpDF.columns = ['region', 'nCounts']
    print('-'*15 + country + '-'*15)
    print(tmpDF)
    print('')

printing top 10 regions for each country..

---------------Indonesia---------------
                 region  nCounts
0            Jawa Timur     4398
1           Jawa Tengah     4304
2            Jawa Barat     3639
3          Jakarta Raya     3417
4                Banten     1297
5         Yogyakarta Jw     1163
6                  Bali     1117
7      Kalimantan Timur      681
8        Sumatera Barat      668
9      Sulawesi Selatan      666
10       Sumatera Utara      650
11     Sumatera Selatan      584
12       Kepulauan Riau      557
13                 Risu      514
14   Kalimantan Selatan      511
15              Aceh Sm      481
16       Sulawesi Utara      428
17  Nusa Tenggara Timur      418
18     Kalimantan Barat      390
19              Lampung      342
20    Kalimantan Tengah      300
21                Jambi      239
22      Sulawesi Tengah      198
23  Nusa Tenggara Barat      190
24     kalimantan utara      176
25             Bengkulu      169
26            Gorontalo      130
27                Papua      123
28    Sulawesi Tenogara      120
29      Bangka Belitung      116
30               Maluku      110
31            indonesia      106
32          Papua Barat       78
33       Sulawesi Barat       61
34         Maluku Utara       37

---------------Australia---------------
                         region  nCounts
0               New South Wales    12682
1                      Victoria     8368
2                    Queensland     6550
3             Western Australia     2805
4               South Australia     2676
5                      Tasmania      919
6  Australian Capital Territory      404
7            Northern Territory      203
8                     australia       27

---------------reserved/private---------------
             region  nCounts
0  reserved/private       13

---------------Hong Kong---------------
      region  nCounts
0  hong kong     2375

---------------New Zealand---------------
                       region  nCounts
0                  Canterbury      896
1                     Waikato      854
2                    Auckland      641
3                       Otago      598
4                  Wellington      555
5           Manawatu-Wanganui      467
6               Bay Of Plenty      413
7                   Northland      320
8                   Southland      272
9                    Taranaki      245
10                 Hawkes Bay      243
11                 West Coast      187
12                     Tasman      168
13                Marlborough      142
14                     Nelson       75
15                   Gisborne       67
16                new zealand       24
17  Chatham Islands Territory        6

---------------Somalia---------------
    region  nCounts
0  somalia        1

---------------Philippines---------------
                region  nCounts
0               Manila       59
1               Cavite       36
2                Rizal       27
3              Bulacan       26
4               Quezon       25
5                 Cebu       23
6             Pampanga       23
7               Laguna       22
8          Nueva Ecija       21
9             Batangas       18
10              Tarlac       15
11          Pangasinan       12
12              Batasn       10
13       Davao Del Sur       10
14            La Union        9
15             Benguet        8
16     Lanao Del Norte        7
17   Negroe Occidental        6
18               Leyte        6
19              Iloilo        6
20            Zambales        5
21               Albay        5
22     Negros Oriental        4
23    Misamis Oriental        4
24  Mindoro Occidental        4
25       Camarines Sur        4
26    Mindoro Oriental        4
27             Isabela        3
28   Zamboanga Del Sur        3
29               Bohol        3
30      South Cotabato        3
31              Bataan        2
32       Nueva Vizcaya        2
33    Agusan Del Norte        2
34             Cagayan        1
35      North Cotabato        1
36  Misamis Occidental        1
37             Masbate        1
38          Ilocos Sur        1
39     Surigao Del Sur        1
40               Davao        1
41      Agusan Del Sur        1
42     Camarines Norte        1
43               Aklan        1
44           Sarangani        1

---------------Malaysia---------------
                              region  nCounts
0                           Selangor      565
1                       Pulau Pinang      498
2                              Johor      429
3                              Perak      360
4                              Kedah      303
5                             Pahang      229
6                    Negeri Sembilan      143
7                            Sarawak      117
8                         Terengganu      108
9                             Melaka       96
10                          Kelantan       95
11                             Sabah       92
12     Wilayah Persekutuan Putrajaya       48
13                            Perlis       46
14  Wilayah Persekutuan Kuala Lumpur       45
15                          malaysia       16
16        Wilayah Persekutuan Labuan       13

Consider city_code without format XX-XXX-XXXX as non-compliant, list out all non-compliant city_code

In [10]:
jumboData['city_code'].apply(lambda c: 'compliant' if len(c.split('-')) == 3 else c).value_counts()

compliant                                  74889
idn-la-tanjungkarang-telukbetung             185
aus-qld-kippa-ring                            32
mys-10-subang jaya - usj 12 - 18              18
mys-10-subang jaya - usj 5 - 8                18
mys-10-subang jaya - usj 19 - 24              18
Unknown                                       13
aus-nsw-brighton-le-sands                      7
mys-05-jalan mutiara 1 - 3                     5
phl-cav-alapan i-a                             4
mys-12-tanjung aru - peti surat 1 - 690        4
phl-man-ayala-paseo de roxas                   4
phl-cav-balsahan-bisita                        2
phl-ceb-lapu-lapu                              2
mys-13-awat-awat                               1
phl-ils-an-annam                               1
phl-ceb-can-asujan                             1
mys-10-batu 9 cheras - peti surat              1
Name: city_code, dtype: int64